discord.py[voice] ~= 0.16.11
youtube_dl
pip
cffi==1.6.0; sys_platform == 'win32'
lyricwikia
lxml
pillow
aiohttp
websockets
chardet
libopus-0.x86.dll
libopus-0.x64.dll
libopus-0.dll
libopus.so.0
libopus.0.dylib
